@use '../abstracts/' as *;

.btn {
    border: none;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: $primary-font;
    color: $white;
    cursor: pointer;
    transition: all 300ms ease;
  
    &:hover {
      color: $white;
      background-position: right center; 
      scale: 0.99;
    }

    &:active {
      scale: 1;
    }
  }