@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&display=swap');

//Fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Titillium Web', sans-serif;

//Typo
$para-height: 1.8;